In [1]:
import pandas as pd

In [2]:
df_train = pd.read_csv('C:/Users/daivi/Desktop/bank-credit-risk-platform/data/raw/train.csv')
df_train.head(5)

,ID,Loan Amount,Funded Amount,Funded Amount Investor,Term,Batch Enrolled,Interest Rate,Grade,Sub Grade,Employment Duration,...,Recoveries,Collection Recovery Fee,Collection 12 months Medical,Application Type,Last week Pay,Accounts Delinquent,Total Collection Amount,Total Current Balance,Total Revolving Credit Limit,Loan Status
0,65087372,10000,32236,12329.36286,59,BAT2522922,11.135007,B,C4,MORTGAGE,...,2.498291,0.793724,0,INDIVIDUAL,49,0,31,311301,6619,0
1,1450153,3609,11940,12191.99692,59,BAT1586599,12.237563,C,D3,RENT,...,2.377215,0.974821,0,INDIVIDUAL,109,0,53,182610,20885,0
2,1969101,28276,9311,21603.22455,59,BAT2136391,12.545884,F,D4,MORTGAGE,...,4.316277,1.020075,0,INDIVIDUAL,66,0,34,89801,26155,0
3,6651430,11170,6954,17877.15585,59,BAT2428731,16.731201,C,C3,MORTGAGE,...,0.107020,0.749971,0,INDIVIDUAL,39,0,40,9189,60214,0
4,14354669,16890,13226,13539.92667,59,BAT5341619,15.008300,C,D4,MORTGAGE,...,1294.818751,0.368953,0,INDIVIDUAL,18,0,430,126029,22579,0

In [4]:
df_train.shape

(67463, 35)

In [7]:
for columns in df_train.columns:
    print(f'Column - {columns}')
    print(df_train[columns].value_counts(), '\n')

Column - ID
ID
65443173    1
65087372    1
1450153     1
1969101     1
6651430     1
           ..
3975562     1
22010590    1
4431034     1
4279662     1
63151650    1
Name: count, Length: 67463, dtype: int64

Column - Loan Amount
Loan Amount
15932    13
14424    12
15118    11
15348    11
15800    11
         ..
6165      1
29325     1
2250      1
33837     1
22226     1
Name: count, Length: 27525, dtype: int64

Column - Funded Amount
Funded Amount
10835    16
11034    15
11187    14
7691     14
10728    14
         ..
24237     1
24083     1
33447     1
22786     1
12345     1
Name: count, Length: 24548, dtype: int64

Column - Funded Amount Investor
Funded Amount Investor
14861.315070    2
12231.166370    2
12367.568060    2
9157.993403     2
9520.450589     2
               ..
9604.161633     1
11298.543770    1
6206.903189     1
25849.543900    1
12038.601890    1
Name: count, Length: 67441, dtype: int64

Column - Term
Term
59    43780
58    22226
36     1457
Name: count, dtype: int64

Column - Batch Enrolled
Batch Enrolled
BAT3873588    3626
BAT1586599    3142
BAT1104812    2996
BAT2252229    2557
BAT2803411    2425
BAT1780517    2403
BAT1184694    2298
BAT2078974    2290
BAT2575549    2257
BAT4694572    2248
BAT4271519    2054
BAT2558388    1963
BAT3193689    1864
BAT1930365    1844
BAT2136391    1790
BAT2333412    1775
BAT3726927    1774
BAT4136152    1766
BAT5341619    1717
BAT5525466    1709
BAT5489674    1677
BAT5629144    1639
BAT1766061    1461
BAT2833642    1421
BAT5924421    1404
BAT2522922    1399
BAT2428731    1398
BAT4808022    1303
BAT4351734    1140
BAT5547201    1127
BAT5714674    1105
BAT3461431    1068
BAT224923      895
BAT1761981     894
BAT4722912     887
BAT2003848     842
BAT1467036     802
BAT5849876     768
BAT3865626     728
BAT5811547     711
BAT1135695     296
Name: count, dtype: int64

Column - Interest Rate
Interest Rate
11.978370    2
17.975298    2
9.530343     2
13.028278    2
8.881324     2
            ..
9.546942     1
16.969521    1
8.538323     1
15.255265    1
12.435653    1
Name: count, Length: 67448, dtype: int64

Column - Grade
Grade
C    19085
B    18742
A    12055
D     8259
E     6446
F     2246
G      630
Name: count, dtype: int64

Column - Sub Grade
Sub Grade
B4    4462
C1    4188
B3    3999
A5    3540
B2    3520
B5    3408
D1    3304
C4    3250
C2    3219
C3    3121
B1    2924
C5    2472
A4    2264
D4    2050
D2    1963
D5    1952
A2    1837
D3    1824
E2    1746
A3    1685
A1    1364
E3    1321
E1    1298
E4    1117
F2     947
F1     824
E5     769
F5     582
F3     578
G2     447
F4     441
G1     366
G5     284
G3     246
G4     151
Name: count, dtype: int64

Column - Employment Duration
Employment Duration
MORTGAGE    36351
RENT        24150
OWN          6962
Name: count, dtype: int64

Column - Home Ownership
Home Ownership
61831.12988     2
58867.57595     2
37623.24185     2
39753.81982     2
91745.81071     2
               ..
39836.03620     1
64670.27473     1
114090.50510    1
162885.38060    1
61723.52014     1
Name: count, Length: 67454, dtype: int64

Column - Verification Status
Verification Status
Source Verified    33036
Verified           18078
Not Verified       16349
Name: count, dtype: int64

Column - Payment Plan
Payment Plan
n    67463
Name: count, dtype: int64

Column - Loan Title
Loan Title
Credit card refinancing       30728
Debt consolidation            24841
Debt Consolidation             3544
Other                          2455
Home improvement               2211
                              ...
Credit Card Refinance Loan        6
Personal loan                     5
Getting Ahead                     5
Credit                            4
bills                             4
Name: count, Length: 109, dtype: int64

Column - Debit to Income
Debit to Income
35.467099    2
38.974683    2
24.505453    2
27.344193    2
24.410636    2
            ..
31.900780    1
20.520366    1
33.565339    1
22.809975    1
29.829715    1
Name: count, Length: 67454, dtype: int64

Column - Delinquency - two years
Delinquency - two years
0    52054
1    11736
2     2651
3      445
7      252
6      191
5       74
8       44
4       16
Name: count, dtype: int64

Column - Inquires - six months
Inquires - six months
0    60486
1     4558
2     2042
3      320
4       54
5        3
Name: count, dtype: int64

Column - Open Account
Open Account
12    8480
13    7907
11    7323
14    6056
10    5804
9     4658
15    3350
8     3141
16    2089
7     1895
17    1499
18    1288
19    1259
20    1146
6     1016
21    1014
24     815
22     803
25     794
23     793
26     669
28     668
27     657
30     631
29     590
31     564
32     513
33     499
5      472
34     346
35     231
4      197
36     152
37      94
3       44
2        6
Name: count, dtype: int64

Column - Public Record
Public Record
0    62871
1     4133
2      200
4      184
3       75
Name: count, dtype: int64

Column - Revolving Balance
Revolving Balance
1394     18
311      16
3997     16
869      15
360      15
         ..
22486     1
14322     1
39512     1
17136     1
14501     1
Name: count, Length: 20582, dtype: int64

Column - Revolving Utilities
Revolving Utilities
9.409247     2
91.317484    2
40.558371    2
66.659546    2
39.611859    2
            ..
51.020838    1
58.409008    1
42.510549    1
19.835711    1
81.692328    1
Name: count, Length: 67458, dtype: int64

Column - Total Accounts
Total Accounts
18    3770
17    3727
19    3700
20    3596
16    3404
      ...
71       2
66       1
69       1
70       1
62       1
Name: count, Length: 69, dtype: int64

Column - Initial List Status
Initial List Status
w    36299
f    31164
Name: count, dtype: int64

Column - Total Received Interest
Total Received Interest
941.274347     2
2476.701276    2
658.042766     2
654.153851     2
437.925021     2
              ..
563.504024     1
2572.145112    1
1511.334917    1
708.901289     1
772.769385     1
Name: count, Length: 67451, dtype: int64

Column - Total Received Late Fee
Total Received Late Fee
0.057194    2
0.064822    2
0.057390    2
0.028037    2
0.118251    2
           ..
0.000131    1
0.103952    1
0.040649    1
0.061098    1
0.117816    1
Name: count, Length: 67380, dtype: int64

Column - Recoveries
Recoveries
4.148014    2
1.208044    2
4.481021    2
5.151216    2
3.839986    2
           ..
3.331061    1
3.697471    1
9.965475    1
0.871807    1
2.377215    1
Name: count, Length: 67387, dtype: int64

Column - Collection Recovery Fee
Collection Recovery Fee
1.125373    3
0.532661    2
0.708046    2
1.179114    2
0.997562    2
           ..
0.993335    1
1.097762    1
1.312438    1
0.165967    1
0.301491    1
Name: count, Length: 67313, dtype: int64

Column - Collection 12 months Medical
Collection 12 months Medical
0    66026
1     1437
Name: count, dtype: int64

Column - Application Type
Application Type
INDIVIDUAL    67340
JOINT           123
Name: count, dtype: int64

Column - Last week Pay
Last week Pay
14     743
13     729
12     714
11     713
10     710
      ...
2      203
160    174
161    163
1      141
0      131
Name: count, Length: 162, dtype: int64

Column - Accounts Delinquent
Accounts Delinquent
0    67463
Name: count, dtype: int64

Column - Total Collection Amount
Total Collection Amount
39      1665
37      1656
36      1637
41      1623
40      1622
        ...
3977       1
936        1
3731       1
3837       1
5302       1
Name: count, Length: 2193, dtype: int64

Column - Total Current Balance
Total Current Balance
51737     5
36268     5
38352     4
36845     4
29877     4
         ..
181775    1
22692     1
176857    1
361339    1
89801     1
Name: count, Length: 60901, dtype: int64

Column - Total Revolving Credit Limit
Total Revolving Credit Limit
7026     10
5310     10
5413      9
5642      9
4754      9
         ..
50793     1
72370     1
24167     1
18633     1
23152     1
Name: count, Length: 37708, dtype: int64

Column - Loan Status
Loan Status
0    61222
1     6241
Name: count, dtype: int64

# Data Dictionary — Loan Default Prediction Dataset

## 1. Applicant / Identity & Admin Columns
| Column                  | Description                                                                                                     |
| ----------------------- | --------------------------------------------------------------------------------------------------------------- |
| **ID**                  | Unique identifier for each loan applicant / loan record. Used as primary key.                                   |
| **Batch Enrolled**      | Internal batch or cohort identifier representing when/where the loan was processed. Useful for cohort analysis. |
| **Application Type**    | Indicates whether the loan application is from an **INDIVIDUAL** or **JOINT** applicant.                        |
| **Verification Status** | Whether applicant information was verified by source, verified, or not verified.                                |
| **Initial List Status** | Loan listing status at origination (`w` = waiting, `f` = forwarded).                                            |
| **Payment Plan**        | Indicates special payment plan participation. Constant value (`n`) → low analytical value.                      |

## 2. Loan Characteristics
| Column                     | Description                                                                          |
| -------------------------- | ------------------------------------------------------------------------------------ |
| **Loan Amount**            | Total loan amount requested by the applicant.                                        |
| **Funded Amount**          | Actual loan amount funded/approved by the bank.                                      |
| **Funded Amount Investor** | Portion of the funded loan amount contributed by investors (fractional funding).     |
| **Term**                   | Loan repayment duration in months (e.g., 36, 58, 59).                                |
| **Interest Rate**          | Annual interest rate (%) applied to the loan.                                        |
| **Grade**                  | Bank-assigned credit grade (A–G), where A indicates lower risk.                      |
| **Sub Grade**              | More granular risk classification within Grade (e.g., B3, C1).                       |
| **Loan Title**             | Purpose or category of the loan (e.g., debt consolidation, credit card refinancing). |

## 3. Employment & Housing Profile
| Column                  | Description                                                                                                                   |
| ----------------------- | ----------------------------------------------------------------------------------------------------------------------------- |
| **Employment Duration** | Applicant’s employment/housing indicator (Mortgage, Rent, Own). Despite name, acts as housing/employment stability indicator. |
| **Home Ownership**      | Numeric indicator likely representing estimated housing value or ownership-related financial measure (not categorical).       |


## 4. Credit Behavior & Risk Indicators (Pre-Loan)
| Column                      | Description                                                            |
| --------------------------- | ---------------------------------------------------------------------- |
| **Debit to Income**         | Debt-to-income ratio of applicant (monthly debt / monthly income).     |
| **Delinquency - two years** | Number of times applicant was 30+ days delinquent in the past 2 years. |
| **Inquires - six months**   | Number of credit inquiries in the last 6 months.                       |
| **Open Account**            | Number of currently open credit accounts.                              |
| **Public Record**           | Count of derogatory public records (bankruptcies, liens, etc.).        |
| **Revolving Balance**       | Total outstanding revolving credit balance.                            |
| **Revolving Utilities**     | Revolving credit utilization percentage.                               |
| **Total Accounts**          | Total number of credit accounts (open + closed).                       |
| **Accounts Delinquent**     | Number of delinquent accounts (constant zero → low value).             |

## 5. Payment Performance & Collection Metrics (Post-Loan)
| Column                           | Description                                                                                    |
| -------------------------------- | ---------------------------------------------------------------------------------------------- |
| **Total Received Interest**      | Total interest amount received by lender to date.                                              |
| **Total Received Late Fee**      | Total late payment fees collected.                                                             |
| **Recoveries**                   | Amount recovered after loan charge-off.                                                        |
| **Collection Recovery Fee**      | Fees charged for recovery efforts after charge-off.                                            |
| **Collection 12 months Medical** | Indicator of medical collections in past 12 months.                                            |
| **Total Collection Amount**      | Total amount ever sent to collections.                                                         |
| **Total Current Balance**        | Current outstanding balance across all borrower accounts.                                      |
| **Total Revolving Credit Limit** | Total credit limit available to the borrower on revolving accounts.                            |
| **Last week Pay**                | Number of weeks borrower continued payments after enrollment. Proxy for repayment consistency. |

## 6. Target Variable
| Column          | Description                                                                    |
| --------------- | ------------------------------------------------------------------------------ |
| **Loan Status** | **Target variable** — `1 = Defaulter`, `0 = Non-Defaulter`. Highly imbalanced. |