In [3]:
import pandas as pd

In [4]:
df_train = pd.read_csv('C:/Users/daivi/Desktop/bank-credit-risk-platform/data/raw/train.csv')
df_train.head(5)

,ID,Loan Amount,Funded Amount,Funded Amount Investor,Term,Batch Enrolled,Interest Rate,Grade,Sub Grade,Employment Duration,...,Recoveries,Collection Recovery Fee,Collection 12 months Medical,Application Type,Last week Pay,Accounts Delinquent,Total Collection Amount,Total Current Balance,Total Revolving Credit Limit,Loan Status
0,65087372,10000,32236,12329.36286,59,BAT2522922,11.135007,B,C4,MORTGAGE,...,2.498291,0.793724,0,INDIVIDUAL,49,0,31,311301,6619,0
1,1450153,3609,11940,12191.99692,59,BAT1586599,12.237563,C,D3,RENT,...,2.377215,0.974821,0,INDIVIDUAL,109,0,53,182610,20885,0
2,1969101,28276,9311,21603.22455,59,BAT2136391,12.545884,F,D4,MORTGAGE,...,4.316277,1.020075,0,INDIVIDUAL,66,0,34,89801,26155,0
3,6651430,11170,6954,17877.15585,59,BAT2428731,16.731201,C,C3,MORTGAGE,...,0.107020,0.749971,0,INDIVIDUAL,39,0,40,9189,60214,0
4,14354669,16890,13226,13539.92667,59,BAT5341619,15.008300,C,D4,MORTGAGE,...,1294.818751,0.368953,0,INDIVIDUAL,18,0,430,126029,22579,0

In [5]:
df_train = df_train.rename(columns={'Delinquency - two years': 'Delinquency two years', 'Inquires - six months': 'Inquires six months'})
df_train.columns = df_train.columns.str.lower()
df_train.columns = df_train.columns.str.replace(' ','_')

In [6]:
df_train.columns

Index(['id', 'loan_amount', 'funded_amount', 'funded_amount_investor', 'term',
       'batch_enrolled', 'interest_rate', 'grade', 'sub_grade',
       'employment_duration', 'home_ownership', 'verification_status',
       'payment_plan', 'loan_title', 'debit_to_income',
       'delinquency_two_years', 'inquires_six_months', 'open_account',
       'public_record', 'revolving_balance', 'revolving_utilities',
       'total_accounts', 'initial_list_status', 'total_received_interest',
       'total_received_late_fee', 'recoveries', 'collection_recovery_fee',
       'collection_12_months_medical', 'application_type', 'last_week_pay',
       'accounts_delinquent', 'total_collection_amount',
       'total_current_balance', 'total_revolving_credit_limit', 'loan_status'],
      dtype='object')

In [9]:
df_clean = df_train

In [10]:
df_clean.isnull().sum()

id                              0
loan_amount                     0
funded_amount                   0
funded_amount_investor          0
term                            0
batch_enrolled                  0
interest_rate                   0
grade                           0
sub_grade                       0
employment_duration             0
home_ownership                  0
verification_status             0
payment_plan                    0
loan_title                      0
debit_to_income                 0
delinquency_two_years           0
inquires_six_months             0
open_account                    0
public_record                   0
revolving_balance               0
revolving_utilities             0
total_accounts                  0
initial_list_status             0
total_received_interest         0
total_received_late_fee         0
recoveries                      0
collection_recovery_fee         0
collection_12_months_medical    0
application_type                0
last_week_pay                   0
accounts_delinquent             0
total_collection_amount         0
total_current_balance           0
total_revolving_credit_limit    0
loan_status                     0
dtype: int64

In [11]:
df_clean.duplicated().sum()

np.int64(0)

In [12]:
import os

In [14]:
df_clean.to_csv('C:/Users/daivi/Desktop/bank-credit-risk-platform/data/Processed/loan_applications_clean.csv', index=False)